<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
       <add name="KCIS_Admin" connectionString="Data Source = 192.168.80.247; Initial Catalog = KCIS_Admin; user id = kcis_db; password =db2008_kcis; Connection Timeout=30;"/>
       <add name="School" connectionString="Data Source = 192.168.80.247; Initial Catalog = School; user id = kcis_db; password =db2008_kcis; Connection Timeout=30;"/>

    
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  </appSettings>
</configuration>
