
@{
    ViewBag.Title = "MailIndex";
}

<head>
    <title>邮件设定</title>
</head>
<body>
    <h2>邮件设定</h2><br />
    <div>
        <div class="d-flex mb-2">
            <hr>
            <span class="item-title">邮件类型</span>
            <select ID="MailType" name="Mailstr" runat="server" class="col-sm-12 col-md-6 col-xl-2">
                <option value="">------------请选择------------</option>
                <option th:each="MailType:${list}" th:value="${MailType.value}" th:text="${MailType.text}" hidden></option>
            </select>

            <button id="btn_search" type="button" class="btn btn-primary ms-2">搜索</button>
            <button class="btn btn-warning ms-2" id="btn_add"><span class="glyphicon glyphicon-pencil"></span> 新增</button>
            <button class="btn btn-success ms-2" id="btn_update"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
            <button class="btn btn-danger ms-2" id="btn_delete"><span class="glyphicon glyphicon-pencil"></span> 删除</button>
            @*<button id="btn_export" class="btn btn-info ms-2" data-table="#table" type="button">下载汇出</button>*@
        </div>
        <table id="table"></table>

    </div>

</body>
<script src="~/static/js/bootstrap-table.js" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>
<script type="text/javascript">
    $(function () {

        $.ajax({
            type: "get",
            dataType: "json",
            method: "post",
            url: "@(Url.Action("getMailType", "DDL"))",
            data: "doaction=sectionList",
            success: function (result) {
                var len = result.length;
                for (i = 0; i < len; i++) {
                    $("#MailType").append(`<option value="${result[i].VALUE}">${result[i].TEXT}</option>`);
                }
            }
        });

        $('#table').bootstrapTable('destroy');
        $('#table').bootstrapTable({
            ajax: function (request) {
                var model = {
                    "subject": $("#MailType").val(),
                }
                request.data = model;
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getMailList", "Mail"))",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(request.data),
                    dataType: "json",
                    jsonp: 'callback',
                    success: function (msg) {
                        request.success({
                            rows: msg
                        });
                        $('#table').bootstrapTable('load', msg);
                    },
                    error: function () {
                        alert("错误");
                    }
                });
            },
            toolbar: '#toolbar',
            singleSelect: false,
            clickToSelect: true,
            sortName: "AddTime",
            sortOrder: "desc",
            cache: false,
            striped: true,
            pageSize: 10,
            pageNumber: 1,
            pageList: "[15, 25, 50, 100, All]",
            showToggle: true,
            showRefresh: false,
            showColumns: false,
            search: false,
            pagination: true,
            columns: [
                {
                    field: "ii",
                    checkbox: true,
                    field: "selectItem",
                },
                //{
                //    field: 'toaddr',
                //    title: '收件人邮箱',
                //    switchable: true
                //},
                {
                    field: 'toname',
                    title: '收件人',
                    switchable: true
                }, {
                    field: 'strSystem',
                    title: 'strSystem',
                    switchable: true,
                    sortable: true
                }, {
                    field: 'subject',
                    title: 'subject',
                    switchable: true
                }, {
                    field: 'body',
                    title: '邮件内容',
                    switchable: true
                }, {
                    field: 'updateuser',
                    title: '修改人',
                    switchable: true
                }, {
                    field: 'updatetime2',
                    title: '修改时间',
                    switchable: true
                }],
        });

        $('#btn_add').click(function () {
            window.location.href = "#AddMail";
            window.location.reload();
        });

        var $update = $("#btn_update");
        $(function () {
            $update.click(function () {
                var info = $('#table').bootstrapTable('getSelections');
                if (info.length != 1) {
                    alert("请选择一条数据修改");
                } else {
                    var subject = info[0].subject;
                    $.ajax({
                        url: "@(Url.Action("getMail", "Mail"))",
                        type: "get",
                        dataType: "json",
                        data: { subject: subject },
                            success: function (res) {
                                //取到的数据存储到localStorage
                                localStorage.clear();
                                localStorage.setItem("toaddr", res.toaddr);
                                localStorage.setItem("toname", res.toname);
                                localStorage.setItem("strSystem", res.strSystem);
                                localStorage.setItem("subject", res.subject);
                                localStorage.setItem("body", res.body);
                                localStorage.setItem("attch", res.attch);
                                localStorage.setItem("remark", res.remark);
                                localStorage.setItem("updateuser", res.updateuser);
                                localStorage.setItem("updatetime", res.updatetime2);

                                //原窗口打开新页面
                                window.location.href = "#UpdateMail";
                                window.location.reload();
                        },
                        error: function (res) {
                           alert("error")

                        }
                    });

                }
            });
        });

        var $delete = $("#btn_delete");
        $(function () {
            $delete.click(function () {
                var selected = $('#table').bootstrapTable('getSelections');
                var arrays = new Array();

                $(selected).each(function () {
                    var newArr = {};
                    newArr.subject = this.subject;
                    arrays.push(newArr)
                });

                if (selected.length ==0 ) {
                    alert("请选择数据");
                } else {
                    $.ajax({
                        url: "@(Url.Action("DeleteMail", "Mail"))",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(arrays),
                        traditional: true,
                        success: function (result) {
                            if (result.IsSuccess) {
                                alert('删除成功');
                                $('#table').bootstrapTable('refresh', { pageNumber: 1 });
                            }
                            else {
                                alert(result.Msg);
                            }
                        },
                        error: function (result) {
                           alert("删除失败")
                        }
                    });

                }
            });
        });

        $('#btn_search').click(function () {
            $('#table').bootstrapTable('refresh', { pageNumber: 1 });
        });

    });
</script>

