
@{
    ViewBag.Title = "InstructionsForAdminission";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <title>校友入校申请</title>
    <link href="../css/list.css" rel="stylesheet" />
    <link href="../css/new2.css" rel="stylesheet" />
</head>
<body>
   
    <div>
        <div id="banner" style="margin:0px;padding:0px;text-align:center" >
            <img src="../img/logo_XY2.png"/>
        </div>
        <div>
            <h3 style="display: block;font-size: 1.17em;font-weight: bold;line-height: 0.3em;">KCISEC Alumni entering school notice | 康桥校友入校申请须知</h3>
            <br />

            <b style="color:red;font: 14px;line-height: 2em;">[校友入校注意事项][Notes for alumni entering the school] </b><br />
            <b style="color: #333;font: 14px;line-height: 2em;">
                *1.事先请教职员提出申请，当天由提出申请之教职员至校门口带学生入校。若无提出事先申请，即便校友已到校门口，仍无法入校。<br />Ask the teachers or staffs to apply in advance, and the faculty who submitted the application will bring the students into the school at east gate. Without application, even if alumni have arrived at the gate, they will still not be able to enter the school.<br />
                *2.校友返校当天，须全程由老师在旁接待。<br />When the alumni return to school, they have to be received by teachers during the whole process.<br />
                *3.于校园内，应全程遵守校规，勿打扰日常教学。<br />On campus, the school rules should be followed throughout, and daily teaching should not be disturbed. <br />
                *4.勿穿校服、勿乘校车，以免造成在校同学误会及不便。<br />Do not wear school uniforms, take school buses, so as not to cause misunderstanding in school. <br />
                *5.禁带外食、违禁品。<br />It is forbidden to take outside food and prohibited articles. <br />
                *6.有入班需求者，请与师长事先提出。<br />If you want to enter the class, please contact the teacher in advance. <br />
                *7.校友应携带相关身分证件于学校门口与警卫换证。并随时配戴识别证。未带证件者，因无法识别身分，将不予入校。<br />Alumni should bring relevant identification to exchange at the school gate and wear visitor cards at any time. Those who do not bring their ID will not be admitted to the school. <br />
                *8.为保护在校生隐私， 不得对教学现场或个人擅自拍照或录影。<br />In order to protect the privacy of school students, it is not allowed to take photos or videos of the teaching site without authorization. <br />
                *9.请遵从校内教职员指示，若违反以上规范，校方得让学生即刻离校，并不得再次入校。<br />Please follow the instructions of teachers. If the rules are violated, the faculty may let the alumni leave the school immediately and may not re-enter the school. <br />
            </b>

            <br />

            <div class="butom" style="text-align:center;">
                <!--<a href="javascript:history.go(-1)" class="button">返回</a>  |-->
                <a href="../Home/Index" class="button">
                    返回 Back
                </a> |
                <a href="A_FillIn_R.aspx?id=<%=id%>" class="button">教职员申请 Apply by faculty</a>
            </div>


        </div>
    </div>
</body>
</html>
