
@{
    ViewBag.Title = "TotalReportIndex";
}
<body>
    <div id="fade" style="display:block">
        <div class="d-flex mb-2">
            <hr>
            <span class="item-title">学生手机号/学生学号</span>
            <input ID="Stu_Empno" name="Stu_Empno" runat="server" class="col-sm-12 col-md-6 col-xl-2" />
            <span class="item-title">审核状态</span>
            <select ID="IS_PASS" name="IS_PASS" runat="server" class="col-sm-12 col-md-6 col-xl-2">
                <option value="">---请选择---</option>
                <option value="N">审核中</option>
                <option value="Y">已审核通过</option>
                <option value="D">审核不通过	</option>
            </select>
            <button id="btn_search" type="button" class="btn btn-primary ms-2">搜索</button>
            <button class="btn btn-primary ms-2" id="btn_sign"><span class="glyphicon glyphicon-pencil"></span> 审核</button>
        </div>
        <table id="table"></table>
    </div>
</body>

<script src="~/static/js/jquery-ui.js"></script>
<script src="~/static/js/bootstrap.min.js"></script>
<script src="~/static/js/bootstrap-table.js" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>
<script type="text/javascript">

    $(function () {
        var $table = $("#table");
                $('#table').bootstrapTable('destroy');
                $('#table').bootstrapTable({
                    ajax: function (request) {
                        var model = {
                            "IS_PASS": $("#IS_PASS").val(),
                            "Stu_Empno": $("#Stu_Empno").val(),
                        }
                        request.data = model;
                        $.ajax({
                            type: "post",
                            url:"@(Url.Action("GetReportData", "Report"))",
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(request.data),
                            dataType: "json",
                            jsonp: 'callback',
                            success: function (msg) {
                                request.success({
                                    rows: msg
                                });
                                $('#table').bootstrapTable('load', msg);
                            },
                            error: function () {
                                alert("错误");
                            }
                        });
                    },
                    toolbar: '#toolbar',
                    singleSelect: true,
                    clickToSelect: true,
                    sortName: "AddTime",
                    sortOrder: "desc",
                    cache: false,
                    striped: true,
                    pageSize: 10,
                    pageNumber: 1,
                    pageList: "[15, 25, 50, 100, All]",
                    showToggle: true,
                    showRefresh: true,
                    showColumns: true,
                    search: true,
                    pagination: true,
                    columns: [{
                        field: "mchSeqNo",
                        checkbox: true,
                    }, {
                        field: 'Form_Name',
                        title: '单据名称',
                        switchable: true
                    }, {
                        field: 'IS_PASS',
                        title: '审核状态',
                        switchable: true
                    }, {
                        field: 'Stu_Empno',
                        title: '学号',
                        switchable: true
                    }, {
                        field: 'Stu_Name',
                        title: '姓名',
                        switchable: true,
                        sortable: true
                    }, {
                            field: 'PassportEname',
                        title: '护照英文名',
                        switchable: true
                    }, {
                            field: 'ReportCard',
                        title: '成绩单类型',
                        switchable: true
                    }, {
                            field: 'txt_yyyy',
                        title: '申请学年',
                        switchable: true
                        }, {
                            field: 'txt_mm',
                            title: '申请学期',
                            switchable: true
                        }, {
                            field: 'txt_UseFor',
                            title: '申请用途',
                            switchable: true
                        }, {
                            field: 'txt_Copies',
                            title: '申请份数',
                            switchable: true
                        }, {
                            field: 'txt_takeWay',
                            title: '收取方式',
                            switchable: true
                        }, {
                            field: 'txt_SendAdress',
                            title: '邮寄地址或邮箱',
                            switchable: true
                        }, {
                            field: 'txt_Cphone',
                            title: '手机号',
                            switchable: true
                        }, {
                            field: 'AddTime',
                            title: '提交时间',
                            switchable: true
                        }],
                });

        var $sign = $("#btn_sign");
        $(function () {
            $("button").popover()
            $sign.click(function () {
                var info = $table.bootstrapTable('getSelections')[0];
                console.log(info)
                if (info == null) {
                    alert("请选择数据");
                } else {

                    var CmchSeqNo = info.CmchSeqNo;
                    var IS_PASS = info.IS_PASS;
                    if (IS_PASS != "审核中") {
                        alert("此成绩单申请已审核，请勿重复审核")
                    }
                    else
                    {
                        $.ajax({
                        url: "@(Url.Action("GetReport", "Report"))",
                        type: "get",
                        dataType: "json",
                        data: { CmchSeqNo: CmchSeqNo },
                        success: function (res) {
                            //取到的数据存储到localStorage
                            localStorage.setItem("CmchSeqNo", res.CmchSeqNo);
                            localStorage.setItem("Form_Name", res.Form_Name);
                            localStorage.setItem("Stu_Empno", res.Stu_Empno);
                            localStorage.setItem("Stu_Name", res.Stu_Name);
                            localStorage.setItem("PassportEname", res.PassportEname);
                            localStorage.setItem("ReportCard", res.ReportCard);
                            localStorage.setItem("txt_yyyy", res.txt_yyyy);
                            localStorage.setItem("txt_mm", res.txt_mm);
                            localStorage.setItem("txt_UseFor", res.txt_UseFor);
                            localStorage.setItem("txt_Copies", res.txt_Copies);
                            localStorage.setItem("txt_takeWay", res.txt_takeWay);
                            localStorage.setItem("txt_SendAdress", res.txt_SendAdress);
                            localStorage.setItem("txt_Cphone", res.txt_Cphone);
                            localStorage.setItem("IS_PASS", res.IS_PASS);
                            //原窗口打开新页面
                            window.location.href = "#SignReport";
                            window.location.reload();
                            },
                            error: function (res) {
                                alert("error")
                            }
                    });
                    }
                   
                }
            });

        });

        $('#btn_search').click(function () {
            $('#table').bootstrapTable('refresh', { pageNumber: 1 });
        });
                
    });
</script>