
@{
    ViewBag.Title = "Index";
}
<head runat="server">
    <!--  opacity: 0.5; 设置半透明度-->
    <style type="text/css">
        .img1 {
            width: 100%;
            height: 100%;
            background: url(img/KS_XY_02.jpg) no-repeat;
            filter: alpha(opacity=50);
        }
    </style>

</head>
<body>
    <div style="text-align:center;align-content:center;width:100%;">
        <!-- 康桥学校图书馆 logo -->
        <div style="margin:0px;padding:0px">
            <img alt="康桥学校线上校友专区 :: 昆山校区" src="~/img/logo_XY2.png" />
        </div>
    </div>
    <div style="text-align:left;align-content:center;width:100%;">
        <div id="banner" style="margin:0px;padding:0px">

            <img src="~/img/KS-XY-02.jpg" class="img1" />

        </div>
        <div>
            <ul style="text-align:center;list-style:none;">
                <li style="float:left;width:160px;height:30px;margin:20px 0;">
                    <a title=" 校友入校申请" href="~/Adminssion/InstructionsForAdminission">
                        <img style="width:60px;height:60px;align-items:center;text-align:center" src="~/img/Links_search.png" />
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:18px">Admission Apply<br />校友入校申请</p>
                    </a>
                </li>

                <li style="float:left;width:230px;height:30px;margin:20px 0;">
                    <a title=" 转出/在读证明" href="~/Certificate/CertificateIndex">
                        <img style="width:60px;height:60px;align-items:center;text-align:center" src="~/img/Links_e-Resources.png" />
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:18px">Reading/Transfer out/<br />At school certificate<br />转出/在读证明</p>
                    </a>
                </li>

                <li style="float:left;width:200px;height:30px;margin:20px 0;">
                    <a title="成绩单申请" href="~/Report/ReportIndex">
                        <img style="width:60px;height:60px;align-items:center;text-align:center" src="~/img/Links_account.png" />
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:18px">Transcript Application<br />成绩单申请</p>
                    </a>
                </li>

                <li style="float:left;width:180px;height:30px;margin:20px 0;">
                    <a title=" 校友联络信息更新" href="~/Information/InformationIndex">
                        <img style="width:60px;height:60px;align-items:center;text-align:center" src="~/img/Links_GoodReads.png" />
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:18px">Alumni Information<br />校友联络信息更新</p>
                    </a>
                </li>

                <li style="float:left;width:160px;height:30px;margin:20px 0;">
                    <a title=" 问卷调查" href="~/Adminssion/InstructionsForAdminission">
                        <img style="width:60px;height:60px;align-items:center;text-align:center" src="~/img/Links_MagazineList.png" />
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:18px">Questionnaire Investigation<br />问卷调查</p>
                    </a>
                </li>

                <li style="float:left;width:160px;height:30px;margin:20px 0;">
                    <a title=" 我的单据" href="~/Bill/BillIndex">
                        <img style="width:60px;height:60px;align-items:center;text-align:center" src="~/img/Links_MagazineList.png" />
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:18px">My FormList<br />我的单据</p>
                    </a>
                </li>

                <li>
                    <a>
                        <p style="color: #5d5d5d; margin-top: 10px;margin-left: 0px; font-size:20px"><br /><br /><br /><br /><br />&nbsp;</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</body>
