BODY
{
    font-family: "微軟正黑體", Arial;
} 
.tb1
{
    border-color:Black;
    border-width:1px;
    border-spacing:0;
    border-style:groove;
    border-collapse:collapse;
    font-size:13px;
}


.TextBoxNormal
{
    font-family: "微軟正黑體";
    /* border-spacing:0; */
    border-style: solid;
    border-width:1px;
   border-color:Gray;
    height:22px;
    line-height:22px
}

.TextBox
{
    width:98%;
    border-spacing:0;
    border-style:groove;
    border-width:1px;
    border-color:Black;
}