.img1 {
            width: 100%;
            height: 100%;
            background: url(../img/logo_XY2.jpg) no-repeat;
            filter: alpha(opacity=50);
        }
.button {
         background-color: #b222af;
         border-radius: 5px;
         -webkit-border-radius: 5px;
         -moz-border-border-radius: 5px;
         border: none;
         padding: 10px 25px 10px 25px;
         color: #fff;
         text-shadow: 1px 1px 1px #949494;
}
.kuai{line-height: 1.5em;}
.title_bold{ font-weight: bold;}
.hui{color: #737373; font-size: 14px;}
.red{color: #FF0004;}
.content1{
			width:1140px;
			height:550px;
			margin:0 auto;
}
.leftDiv{
	width:500px;
	position:absolute;
			
}
.leftleftDiv{
	width:250px;
	position:absolute;
			
}
.rightDiv{
			height:100px;
			margin-left:500px;
}
.contentmobile{
			width:1140px;
			height:1100px;
			margin:0 auto;
}
.topDiv{
	width:1140px;
	height:550px;
			
}		
}
.buttomDiv{
	width:1140px;
	height:550px;
}
.form-control{
	display:block;
	width: 300px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color:#555;
	vertical-align:middle;
	background-color:#fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control2{
	display:block;
	width: 150px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color:#555;
	vertical-align:middle;
	background-color:#fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.title{
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	line-height: 0em;
}
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
         padding: 4px 12px;
         overflow: hidden;
         color: #1E88C7;
         text-decoration: none;
         text-indent: 0;
         line-height: 20px;
}
 
.file input {
         position: absolute;
         font-size: 100px;
         right: 0;
         top: 0;
         opacity: 0;
}
 
.file:hover {
         background: #AADFFD;
         border-color: #78C3F3;
         color: #004974;
         text-decoration: none;
}
.item-title{
	color:#333333;
	font:17px微软雅黑
}
.content2{
			width:1140px;
			height:800px;
			margin:0 auto;
}
.leftDiv2{
	width:500px;
	position:absolute;
			
}
.rightDiv2{
			height:800px;
			margin-left:500px;
}
.hui2{color: #333333; font-size: 14px;}
.content3{
	border:1;
	background:#F3F6F9;
	align:center;
	width:640px;
	height:430px;
	margin:0 auto;
}
.contentmobile2{
			width:1140px;
			height:1600px;
			margin:0 auto;
}
.topDiv2{
	width:1140px;
	height:800px;
			
}
.buttomDiv2{
	width:1140px;
	height:800px;
}
         