
@{
    ViewBag.Title = "InstructionIndex";
}
<body>
    <h3 class="text-primary">校友系统管理平台说明</h3>
    <h2>
        1.权限说明:此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字
        此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字此处是说明文字<br />2.如遇异常，请洽询资讯室胡德知，分机5509
    </h2>
</body>


