
@{
    ViewBag.Title = "InstructionIndex";
}
<head>
    <title>校友系统管理平台说明</title>
</head>
<body>
    <h4>校友系统管理平台说明</h4>
    <div class="d-flex mb-2">
     
        <span style="color:black;text-align:left">
            1.权限说明:不同群组的教职员能看到的导航栏菜单不同。
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            管理员可以看到所有的菜单；转出证明组可以看到在读/转出证明查询；成绩单组可以看到成绩单查询；德育组可以看到入校申请查询；注册组可以看到总数据查询；
            <br />2.如遇异常，或需要新增人员至群组，请洽询资讯室胡德知，分机5509；
        </span>
    </div>
      
</body>


