
@{
    ViewBag.Title = "BillIndex";
}
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <link href="~/css/new2.css" rel="stylesheet" />
    <script src="~/js/jquery1.min.js"></script>
    <title>KCISEC Alumni Association document query | 康桥校友会单据查询</title>
</head>
<body>
    <div id="banner" style="margin:0px;padding:0px;text-align:center">
        <img src="~/img/logo_XY2.png" />
    </div>
    <div>
        <h3 class="title" style="display: block;font-size: 1.17em;font-weight: bold">KCISEC Alumni Association document query | 康桥校友会单据查询</h3>
        <br />
        <form id="qq">
            <input ID="Stu_Empno" type="hidden">
            <span class="item-title">表单名称</span>
            <select ID="Form_Name" name="Form_Name" onchange="sel2()">
                <option value="">---请选择---</option>
                <option th:each="Form_Name:${list}" th:value="${Form_Name.value}" th:text="${Form_Name.text}" hidden></option>
            </select>
            <span class="item-title">表单状态</span>
            <select ID="IS_PASS" name="IS_PASS" onchange="sel()">
                <option value="">---请选择---</option>
                <option th:each="IS_PASS:${list}" th:value="${IS_PASS.value}" th:text="${IS_PASS.text}" hidden></option>
            </select>
            <button id="btn_search" type="button" class="btn btn-primary ms-2">搜索</button>
            <table id="tab" height="200" class="item-title"></table>
        </form>

        <div class="butom" style="text-align:center;">
            @Html.ActionLink("返回 Back", "Index", "Home", new { area = "" }, new { @class = "button" })
        </div>

    </div>
</body>
<script type="text/javascript">

    const model = ({
        Form_Name: '',
        IS_PASS: '',
        Stu_Empno: '',
        GroupName:''
    });
    function sel() {
        var mySelect = document.getElementById("IS_PASS");   //定位id（获取select）
        var index = mySelect.selectedIndex;   //选中索引（选取select中option选中的第几个）
        //var text = mySelect.options[index].text; //获取选中文本，即option标签对之间的文字
        model.IS_PASS = mySelect.options[index].value;   //获取选中值
    }

    function sel2() {
        var mySelect = document.getElementById("Form_Name");
        var index = mySelect.selectedIndex;
        model.Form_Name = mySelect.options[index].value;
    }

    $(function () {

         //表单名称
        $.ajax({
            type: "get",
            dataType: "json",
            method: "post",
            url: "@(Url.Action("getFormName", "DDL"))",
            data: "doaction=sectionList",
            success: function (result) {
                var len = result.length;
                for (i = 0; i < len; i++) {
                    $("#Form_Name").append(`<option value="${result[i].VALUE}">${result[i].TEXT}</option>`);
                }
            }
        });

         //审核状态
        $.ajax({
            type: "get",
            dataType: "json",
            method: "post",
            url: "@(Url.Action("getISPASS", "DDL"))",
            data: "doaction=sectionList",
            success: function (result) {
                var len = result.length;
                for (i = 0; i < len; i++) {
                    $("#IS_PASS").append(`<option value="${result[i].VALUE}">${result[i].TEXT}</option>`);
                }
            }
        });

        model.Stu_Empno = decodeURIComponent(cookieMap.get("Account")); 
        model.GroupName = decodeURIComponent(cookieMap.get("GroupName"));
        console.log(model)

        $('#btn_search').click(function () {
            $.ajax({
                url: "query",
                type: "post",
                dataType: 'json',
                data: model,
                success: function (data) {
                    $("#tab").find('tr').remove();
                    if (data.length == 0)
                    {
                        alert("未找到您的单据 Your document was not found");
                    }
                    var str = "";//定义用于拼接的字符串
                    for (var i = 0; i < data.length; i++) {
                        str = "<tr><td></tr></td><tr><td>" + "表单名称:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + data[i].Form_Name + "</td></tr><tr><td>"
                            + data[i].TitleName + ":&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + data[i].SendAdress + "</td></tr></tr><td>"
                            + "表单状态:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                        //追加到table中
                        if (data[i].Comments != null && data[i].Comments != '') {
                            str += data[i].IS_PASS + "</td></tr><tr><td>" + "审核意见:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + data[i].Comments + "</td></tr><tr><td><hr/></tr></td>"
                            //   str = str + "审核意见:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + data[i].Comments;
                        } else {
                            str +=  data[i].IS_PASS + "</td></tr><tr><td><hr/></tr></td>";
                        }
                        $("#tab").append(str);
                    }
                },
                error: function (msg) {
                    alert("查询失败" + msg);
                }
            });
        });
    });
</script>



